<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/apparelSearch.css'/>
    <script src="/javascripts/apparelSearch.js"></script>
    <meta name="viewport" content="width=device-width">
  </head>
  <body onload="populateContainers()">
    <div id="templateContainer"> </div>
    <button onclick="addApparel()"> Add New Apparel </button>
    <input id="searchBar" type="text" oninput="searchApparel()">
    <button id="previous" onclick="previousPage()"> Previous </button>
    <button id="next" onclick="nextPage()"> Next </button>
    <span id="pageDisplay"> </span>
    <div id="apparelContainer"></div>
  </body>
</html>